@font-face {
    font-family: 'caravan';
    font-weight: 900;
    /*(black)*/
    font-style: normal;
    src: url('../fonts/caravan-aaa-900.eot');
    src: url('../fonts/caravan-aaa-900.eot?#iefix') format('embedded-opentype'), url('../fonts/caravan-aaa-900.ttf') format('truetype'), url('../fonts/caravan-aaa-900.woff') format('woff');
}
@font-face {
    font-family: 'caravan';
    font-weight: 800;
    /*(streched)*/
    font-style: normal;
    src: url('../fonts/caravan-aaa-800.eot');
    src: url('../fonts/caravan-aaa-800.eot?#iefix') format('embedded-opentype'), url('../fonts/caravan-aaa-800.ttf') format('truetype'), url('../fonts/caravan-aaa-800.woff') format('woff');
}
@font-face {
    font-family: 'asimon';
    // font-weight: 800;
    /*(streched)*/
    font-style: normal;
    src: url('../fonts/asimon-aaa-300.eot');
    src: url('../fonts/asimon-aaa-300.eot?#iefix') format('embedded-opentype'), url('../fonts/asimon-aaa-300.ttf') format('truetype'), url('../fonts/asimon-aaa-300.woff') format('woff');
}