@mixin media($min, $max: null) {
	 @if ($max){
		@media all and (min-width: $min) and (max-width: $max) {
			 @content;
		}
	}
	@else {
		 @media all and (min-width: $min){
			@content;
		}
	}
}
@mixin landscape {
	 @media all and (orientation: landscape){
		@content;
	}
}
.container {
	$sm: 768px;
	$md: 920px;
	$lg: 1200px;
	$xl: 1500px;
	max-width: 90%;
	margin: auto;
	padding: 0 30px;
	@include media($sm) {
		max-width: calc(#{$sm} - 60px);
	}
	@include media($md) {
		max-width: calc(#{$md} - 60px);
	}
	@include media($lg) {
		max-width: 1000px;
		// max-width: calc(#{$lg} - 60px);
	}
	@include media($xl) {
		max-width: $lg;
	}
}
$color-text-body: rgb(87, 83, 74);
$color-text-light: rgb(184, 186, 188);
$color-ui-light: lighten($color-text-light, 14%); // Font stacks
$font-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$bg_color: #fff;
$font-serif: Georgia, serif; // Custom link underline
// ---------------------
@mixin underline($color-accent: $primary_color) {
	span {
		color: $color2;
		text-decoration: none;
		// Underline via gradient background
		background-image: linear-gradient(rgba($color-accent, 0.25) 0%, $color-accent 100%);
		background-repeat: repeat-x;
		background-size: 1px 1px;
		background-position: 0 83%;
		// Tweak position + thickness for high res (1.75x and up) displays
		@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
			background-image: linear-gradient(rgba($color-accent, 0.25) 0%, $color-accent 100%);
			background-position: 0 83%;
		}
		// Clear descendors from underline
		text-shadow: 3px 0 $bg_color, 2px 0 $bg_color, 1px 0 $bg_color, -1px 0 $bg_color, -2px 0 $bg_color, -3px 0 $bg_color;
		// &:hover {
		//     color: darken($color-accent, 11%);
		//     background-image: linear-gradient(to bottom, darken($color-accent, 6%) 0%, darken($color-accent, 6%) 100%);
		// }
		// Style selected links (or else text-shadow makes it look crazy ugly)
		// Pseudo selectors must go separately, or they break each other
		 > *,
		& {
			&::selection {
				background-color: lighten($color-accent, 25%);
				color: $color-text-body;
				text-shadow: none;
			}
			&::-moz-selection {
				background-color: lighten($color-accent, 25%);
				color: $color-text-body;
				text-shadow: none;
			}
		}
	}
	h1,
	h2,
	h3 {
		span {
			background-size: 1px 2px;
			@media (-webkit-min-device-pixel-ratio: 1.75), (min-resolution: 168dpi) {
				background-position: 0 85%;
				background-image: linear-gradient($color-accent 0%, $color-accent 100%);
				background-size: 1px 1px;
				background-position: 0 85%;
			}
		}
	}
}
@keyframes sfr {
	from {
		opacity: 0;
		transform: translate(5px);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
@keyframes sfl {
	from {
		opacity: 0;
		transform: translate(-5px);
	}
	to {
		opacity: 1;
		transform: translate(0);
	}
}
.svg-rect {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%20100%20100%22%3E%0A%3Crect%20x%3D%220%25%22%20y%3D%2250%25%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22rgba%28218%2C225%2C91%2C.75%29%22/%3E%0A%3C/svg%3E%0A");
}
.svg-circle {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%20100%20100%22%3E%0A%3Ccircle%20cx%3D%2250%25%22%20cy%3D%2250%25%22%20r%3D%2250%22%20fill%3D%22blue%22/%3E%0A%3C/svg%3E%0A");
}
%shadow {
	box-shadow: rgba(0, 0, 0, 0.156863) 0 3px 10px, rgba(0, 0, 0, 0.227451) 0 3px 10px;
}
.font_title {
	font-family: 'Heebo', sans-serif;
}
.mark {
	color: $color3;
}
.green {
	color: $color2;
}
.flex {
	display: flex;
}
.center {
	justify-content: center;
	align-items: center;
}