.post {
    text-align: center;
    font-family: 'asimon';
    // position: fixed;
    // top: 20vh;
    left: 0;
    right: 0;
    h1 {
        @include media($md) {
            font-size: 50px;
        }
    }
    > h6 {
        font-size: 18px;
    }
}
.navbar {
    position: fixed;
    left: 0;
    bottom: 30px;
}
.button {
    background: #9c27b0;
    padding: 15px;
    color: #fff;
    display: block;
    width: 75px;
    svg {
        fill: #fff;
    }
}
.prev {
    svg {
        transform: rotate(180deg);
        transform-origin: 50%;
    }
}