li,
ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // width: 100vw;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    direction: rtl;
    position: relative;
    // min-height: 100%;
    height: 100%;
    min-height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}
input {
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    outline: 0;
    box-shadow: none;
}
input[type="submit"] {
    cursor: pointer;
}
button {
    background: none;
    border: 0;
    cursor: pointer;
    outline: 0;
}