$sm: 768px;
$md: 920px;
$lg: 1200px;
$xl: 1400px;
$primary_color: #372F8B;
$color1: $primary-color;
$color2: #DCE775;
$color3: #e91e63;
$color4: #e0e0e0;
$text-color-dark: #999;
$text-color-light: #fff;
$blue: #330e47;
$c1: #A8FFFF;
$c2: #18316A;
$c3: #C1FFC1;
$colors: ( primary: #333, secondary: #555, brand: #ff0033 );
.lfogo {
    color: map-get($colors, brand);
}
@each $key, $value in $colors {
    .fitem-#{$key} {
        color: $value;
    }
}
.pink {
    color: $color3;
}
.qmark {
    font-size: larger;
    margin-right: 5px;
}
$chip1: #BDDDF4;
$chip2: #E1F3F7;
$chip3: #D1C3E0;
$chip4: #DCECC8;
$chip5: #F5F5F5;
$chip6: #B3E0DB;
$chip7: #FBCBBD;