@import "helpers/_helpers.scss";
@import "elements/_elements.scss";
.fade-enter {
    opacity: 0.01;
    transform: translate(0);
    transition: opacity 0.5s ease-in;
}
.fade-enter.fade-enter-active {
    opacity: 1;
}
.fade-leave {
    opacity: 1;
    transform: translate(200vw);
    transition: opacity 0.5s ease-in;
}
.fade-leave.fade-leave-active {
    opacity: 0;
}
.link-active {
    color: #bbbbbb;
    text-decoration: none;
}
.symbols {
    position: fixed;
    z-index: -1;
    visibility: hidden;
    height: 0;
}
.icon {
    width: 44px;
    height: 44px;
}