.chip {
    display: flex;
    justify-content: space-between;
    height: 35px;
    border-radius: 15px;
    align-items: center;
    .chip_text {
        border-radius: 15px;
        position: relative;
        top: 2px;
        padding-right: 5px;
        padding-left: 15px;
        align-items: center;
        justify-content: center;
        line-height: 35px;
    }
    .chip_img {
        background-size: cover;
        background-position: 50%;
        width: 35px;
        height: 35px;
        background-color: blue;
        border-radius: 50%;
    }
    span {
        flex: 1;
        border-radius: 15px;
    }
    input {
        border: 0;
        background-color: transparent;
        height: 30px;
        outline: 0;
        font-size: 16px;
        text-indent: 5px;
    }
}