.button {}
input[type="text"] {
    border-bottom: 1px solid;
    width: 100%;
    font-family: 'asimon';
    @include media($md) {
        font-size: 35px;
    }
}
input[type="submit"] {
    width: 25%;
    padding: 15px;
    border-radius: 3px;
    margin: 50px auto auto;
}
form {
    // margin-top: 20vh;
}
.form_row {
    @extend .row;
    margin: 15px;
    > input:not([type="submit"]) {
        &:nth-child(1) {
            margin-left: 15px;
        }
        &:nth-child(2) {
            margin-right: 15px;
        }
    }
}
.which_post {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        @extend .button;
        margin: 30px;
    }
}
.subheader {
    font-size: 18px;
    font-family: Open Sans Hebrew;
    padding: 5px;
    border-radius: 3px;
    margin: 30px 0;
    background: #9c27b0;
    color: #fff;
    &:nth-child(2) {
        margin-top: 60px;
    }
}