.images_wrapper {
    max-width: 300px;
    overflow: hidden;
    height: 75px;
    ul {
        display: flex;
        li {
            flex: 1;
            margin: 0 5px;
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
        }
    }
}