.jokes {
    ul li {
        > span {
            margin-right: 15px;
            font-family: Open Sans Hebrew;
        }
    }
}
.jokes {
    ul {
        min-height: 65vh;
        // margin-top: 25vh;
        font-family: asimon;
        li {
            line-height: 2;
            display: flex;
            align-items: center;
            margin: 15px 0;
            font-family: Open Sans Hebrew;
            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-left: 15px;
            }
        }
    }
}