.toggler_box {
    display: flex;
    align-items: center;
}
.toggleMenu {
    width: 100px;
    height: 100px;
    overflow: visible;
    cursor: pointer;
    z-index: +1;
    position: relative;
    circle {
        transform-origin: 50%;
        transition: transform 0.25s ease-out;
        fill: #9c27b0;
    }
    rect {
        fill: #CE93D8;
    }
    &:hover {
        circle {}
        rect {}
    }
}
.main_navigation {
    li {
        display: flex;
        align-items: center;
    }
}
.list_on {
    pointer-events: all;
    position: absolute;
    z-index: +100;
    opacity: 1;
    right: 10%;
    transition-delay: 0.2s;
    li {
        color: #fdd835;
        margin: 30px;
        font-size: 16px;
        font-family: 'caravan';
        font-weight: 900;
        letter-spacing: 2px;
        font-size: 40px;
    }
}
.list {
    pointer-events: none;
    transition: all 0.2s ease-out;
    position: absolute;
    right: 0;
    opacity: 0;
}