.login_title {
    background: #03a9f4;
    text-align: center;
    color: #fff;
    padding: 5px 0;
    font-weight: normal;
}
.login_providers {
    @extend .flex;
    @extend .center;
}
.login_provider {
    flex: 0 1 33%;
    @extend .flex;
    @extend .center;
}
.facebook_btn {
    background: #3949ab;
    color: #fff;
    font-size: 16px;
    padding: 15px;
}